<section id="component-splash" class="component component-splash"
  style="background-image: url(https://unity.com/sites/default/files/styles/16_9_l_scale_width/public/pftg-showcase-1920x1080%401x.jpg?itok=H333yIDT);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-0 col-lg-12">
        <div class="component-splash-wrapper">
          <div class="component-splash-wrapper-inner">
            <div class="component-splash__title">
              <div>多人VR教学式场景</div>
            </div>
            <div>
              <div class="component-splash__text large">
                <div>
                  <p id="desc_none" style="display:none">开始一天的学习吧！这里有很多有趣的VR场景供你欣赏，在玩的过程中学习。</p>
                  <p id="desc">&nbsp;</p>
                </div>
              </div>
              <div class="component-splash__buttons">
                <a id="start" class="btn btn-blue btn-raise" >开始</a>
                <a href="https://github.com/DarkYoung/Multiplayer-VR-teaching-scene"
                  class="btn btn-outline btn-outline-white btn-raise">Star</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
