<section id="entry">
  <!-- 迷宫 -->
  <div id="maze" class="entry" onclick="location.href='/game';">
    <div></div>
    <div class="entry-desc">
      <div class="blocker">
        <div class="instructions">
          <span class="title">游戏</span>
          <br />
          <span class="desc">Lab2:使用 three.js 构建的 3d 漫游场景</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 三角形 -->
  <div id="penrose-triangle" class="entry">
    <div></div>
    <div class="entry-desc">
      <div class="blocker">
        <div class="instructions">
          <span class="title">敬请期待……</span>
          <br />
          <span class="desc"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- 不可能的正方体 -->
  <div id="impossible-cube" class="entry">
    <div></div>
    <div class="entry-desc">
      <div class="blocker">
        <div class="instructions">
          <span class="title">敬请期待……</span>
          <br />
          <span class="desc"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- 三角正方体 -->
  <div id="penrose-triangle-cube" class="entry">
    <div></div>
    <div class="entry-desc">
      <div class="blocker">
        <div class="instructions">
          <span class="title">敬请期待……</span>
          <br />
          <span class="desc"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- 旋转吧～ -->
  <div id="rotate-ball" class="entry">
    <div></div>
    <div class="entry-desc">
      <div class="blocker">
        <div class="instructions">
          <span class="title">敬请期待……</span>
          <br />
          <span class="desc"></span>
        </div>
      </div>
    </div>
  </div>
</section>
